
@import "tailwindcss";

*{
    transition: opacity 0.3s ease;
}

a {
  color: #fff;
  text-decoration: none;
}
.playlist-item:hover {
  background-color: #343a40 !important;
  color: #fff !important;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}
/* Custom scrollbar for sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #121212;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

